<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cafe_packshotlibrary</name>
	<displayName><![CDATA[cafe_packshotlibrary]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Bibliothèque gestion des photos packshot]]></description>
	<author><![CDATA[Alexandre Carette]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
