@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito/Nunito-Regular.ttf")
}

@font-face {
    font-family: Nunito-Bold;
    src: url("../fonts/Nunito/Nunito-SemiBold.ttf")
}

@font-face {
    font-family: 'nr-icons';
    src: url('../fonts/nr-icons/nr-icons.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*---GENERAL---*/

.netreviews_tpl_v2{
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    width: 100%;
    color: #2c2c2c;
}

.netreviews_tpl_v2 #netreviews_table_tab{
    border-spacing: 20px;
    border-collapse: unset;
    border: none;
}

.netreviews_tpl_v2 #netreviews_table_tab .netreviews_left_column,
.netreviews_tpl_v2 #netreviews_table_tab .netreviews_right_column{
    border: none;
}

/*---LEFT COLUMN---*/

.netreviews_tpl_v2 table tr {
    display: block;
}

.netreviews_tpl_v2 .netreviews_left_column {
    width: 18%;
    vertical-align: top
}

/*-LOGO-*/
.netreviews_tpl_v2 .netreviews_rating_header {
    width: 100%;
    height: 50px;
    min-height: 50px
}

.netreviews_tpl_v2 .netreviews_logo {
    width: 200px;
    height: 40px
}

.netreviews_tpl_v2 .netreviews_logo #netreviews_logo_img {
    width: 100%;
    height: auto
}

/*-RATES, PERCENTAGES, AFNOR-*/
.netreviews_tpl_v2 .netreviews_rating_content {
    display: inline-block;
}

.netreviews_tpl_v2 .netreviews_global_rating {
    min-height: 412px;
    background-color: #f2f2f2;
    display: block;
    padding: 20px
}

/*General rate and recommendation*/
.netreviews_tpl_v2 .netreviews_note_generale {
    color: #2c2c2c;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    margin: auto;
}

.netreviews_tpl_v2 table.netreviews_note_generale_table{
    width: unset ;
    line-height: 67px ;
    border-spacing: 5px ;
    border: none ;
    margin-top: 0 ;
    margin-bottom: 0 ;
    display: inline-block;
}

.netreviews_tpl_v2 table.netreviews_note_generale_table tbody.netreviews_note_generale_table_tbody{
    border: none;
}

.netreviews_tpl_v2 table.netreviews_note_generale_table tr.netreviews_note_generale_table_tr{
    border: none ;
}

.netreviews_tpl_v2 table.netreviews_note_generale_table tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td{
    border: none ;
}

.netreviews_tpl_v2 table.netreviews_note_generale_table tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td{
    padding: 0 ;
}

.netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:first-child{
    font-size:58px ;
}

.netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(2){
    font-size:30px ;
    padding-right: 5px ;
    padding-left: 5px ;
}

.netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(3){
    font-size:30px ;
}

.netreviews_tpl_v2 p.netreviews_subtitle {
    display: block;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    color: #5A5A58 ;
    font-family: Nunito, Arial, Helvetica, sans-serif ;
}

.netreviews_tpl_v2 .far{
    font-weight: bolder ;
    margin-left: 10px;
}

/*Graph of rates*/
.netreviews_tpl_v2 .netreviews_resume_rates{
    margin-top: 22px;
}

.netreviews_tpl_v2 .netreviews_stat_star {
    float: left;
    font-size: 22px
}

.netreviews_tpl_v2 .netreviews_stats_stars span.nr-icon, .netreviews_tpl_v2 .netreviews_stats_stars_big span {
    display: inline-block
}

.netreviews_tpl_v2 .netreviews_stats_stars_big {
    cursor: pointer;
    margin-top: 20px;
    line-height: 10px
}

.netreviews_tpl_v2 .netreviews_stars_percent{
    display: flex ;
    justify-content: space-between ;
}

.netreviews_tpl_v2 .netreviews_stats_stars_big div {
    display: inline-block;
    font-size: 13px
}

.netreviews_tpl_v2 .netreviews_percentage_rate {
    font-weight: 700;
    color: #2c2c2c;
    float: right
}

.netreviews_tpl_v2 .netreviews_percentage_bar {
    height: 5px;
    border-radius: 7px;
    width: 100%;
}

.netreviews_tpl_v2 .netreviews_disabled_click{
    pointer-events: none;
}

/*Afnor*/
.netreviews_tpl_v2 .netreviews_certification, .netreviews_tpl_v2 .netreviews_certification:active, .netreviews_tpl_v2 .netreviews_certification:visited {
    color: #7b858f;
    text-decoration: none;
    font-size: 12px;
    transition: color .2s;
    font-weight: 700
}

.netreviews_tpl_v2 .netreviews_certification:hover {
    color: #2f2f2f;
    text-decoration: none
}

.netreviews_tpl_v2 .netreviews_afnor {
    margin-top: 25px;
    text-align: center;
    line-height: 16px ;
}

.netreviews_tpl_v2 .netreviews_afnor > div{
    position: relative;
}

.netreviews_tpl_v2 .display {
    vertical-align: sub
}

.netreviews_tpl_v2 i.netreviews_arrow_down {
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 10px;
    vertical-align: middle
}

.netreviews_tpl_v2 #netreviews_informations_label {
    display: inline-block;
    color: #7b858f;
    text-decoration: none;
    font-size: 11px;
    transition: color .2s;
    cursor: pointer;
}

.netreviews_tpl_v2 #netreviews_informations_label:hover {
    color: #2f2f2f
}

.netreviews_tpl_v2 #netreviews_informations div, .netreviews_tpl_v2 #netreviews_informations_label div {
    padding-top: 3px;
    width: 14px;
    cursor: pointer
}

.netreviews_tpl_v2 #netreviews_informations {
    max-width: 100%;
    text-align: left;
    display: none;
    height: auto;
    width: 450px;
    background-color: #f4f4f4;
    color: #000;
    padding: 10px 10px 20px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    z-index: 11;
    margin: 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 13px;
    bottom: 0;
}

.netreviews_tpl_v2 #netreviews_informations ul {
    margin: 0 5%;
    padding: 25px 0 5px;
    width: 90%
}

.netreviews_tpl_v2 #netreviews_informations ul li {
    font-size: 13px;
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: square
}

/*Button All reviews*/
.netreviews_tpl_v2 i.netreviews_arrow_up {
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 10px;
    margin-top: 6px;
    vertical-align: middle
}

.netreviews_tpl_v2 .netreviews_all_reviews{
    width: 100%;
    display: none;
}

.netreviews_tpl_v2 .netreviews_all_reviews div{
    color: #20201e;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 6px 10px;
    margin: 10px auto auto;
    background-color: #f2f2f2;
    width: 130px;
    text-align: center;
}

/*---RIGHT COLUMN---*/

.netreviews_tpl_v2 .netreviews_right_column {
    width: 82%;
    vertical-align: top
}

/*-FILTERING SECTION-*/
.netreviews_tpl_v2 .netreviews_rating_header div label {
    color: #96a0aa;
    text-decoration: none;
    font-size: 14px;
    transition: color .2s;
    cursor: pointer
}

.netreviews_tpl_v2 .netreviews_rating_header div {
    text-align: right
}

.netreviews_tpl_v2 .netreviews_rating_header div span a {
    color: #000;
    text-decoration: underline
}

.netreviews_tpl_v2 .netreviews_filtering_section {
    margin: 0 auto;
    display: block;
    background: 0 0;
    padding: 5px 0 10px;
    font-size: 15px;
    color: #96a0aa
}

.netreviews_tpl_v2 .netreviews_filtering_section select {
    font-size: 14px;
    width: auto;
    height: auto;
    line-height: 15px;
    text-align: left;
    display: inline;
    outline: 0;
    cursor: pointer;
    color: #96a0aa;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

/*-REVIEWS-*/
.netreviews_tpl_v2 .avisVerifiesAjaxImage {
    background-image: url(../img/netreviews-load-full.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90%;
    height: 100px;
}

.netreviews_tpl_v2 #netreviews_reviews_section {
    display: inline-block;
}

.netreviews_tpl_v2 #ajax_comment_content .netreviews_review_part:last-child{
    border-bottom: none ;
}

.netreviews_review_part {
    width: 100%;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: 15px;
    border-bottom:1px solid #f2f2f2;
    padding-bottom: 15px;
}

.netreviews_review_part:first-child {
    border-top: 0
}

/*Stars and review rate*/
.nr-icon.grey {
    color: #d1d1d1
}

.nr-icon.gold {
    color: #ffcd00
}

.netreviews_stars_rate{
    display: flex;
    align-items: center;
}

 .netreviews_review_rate_and_stars {
     display: block;
     width: 100%;
     padding: 0;
     margin: 0;
     height: 20px;
     position: relative;
}

.netreviews_review_rate_and_stars div:nth-child(2){
    color :#FFCD00;
}

.nrRate{
    margin-left: 10px;
    line-height: 33px;
    font-weight: bold;
    font-size: 15px;
}

/*Review details*/
.netreviews_tpl_v2 #netreviews_reviews_section>p {
    width: 90%;
    margin: auto;
    padding-top: 25px
}

.netreviews_tpl_v2 p.netreviews_customer_review {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 0;
    text-align: left;
    font-family: Nunito-Bold, Nunito, Arial, Helvetica, sans-serif ;
    color: #2c2c2c;
    font-weight: 400
}
.netreviews_reviews_section .netreviews_review_rate_and_stars{
    padding: 0;
    margin: 0;
    /*min-height: 30px;*/
    position: relative;
    display: flex;
    font-size: 20px;
    width: 85px;
    line-height: 30px
}
/*Medias*/
.netreviews_tpl_v2 .netreviews_media_part {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.netreviews_tpl_v2 .netreviews_media_part li {
    list-style: none;
    display: block;
    width: 50px;
    height: 40px;
    float: left;
    padding: 0;
    margin: 10px 10px 0 0;
}

.netreviews_tpl_v2 .netreviews_media_part li .netreviews_image_thumb {
    display: block;
    width: 50px;
    height: 40px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2px;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.netreviews_tpl_v2 .netreviews_media_part li .netreviews_image_thumb_video {
    background-color: #333333;
    background-size: 40%;
}

.netreviews_tpl_v2 .netreviews_media_part li .netreviews_image_thumb:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

/*Customer and dates*/
.netreviews_tpl_v2 div.netreviews_customer_name {
    display: inline-block;
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #2c2c2c;
    font-family: Nunito, Arial, Helvetica, sans-serif ;
}

#center_column .netreviews_reviews_section p{
    padding-left: unset;
}

/*Discussion*/
.netreviews_discussion{
    margin-top: 10px;
    margin-left: 15px;
}

.netreviews_website_answer{
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
    background-color: #f4f4f4;
    width: 75%;
    display: block;
    font-size: 12px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    border-left: #f2f2f2 solid 3px;
    height: auto;
}

.netreviews_website_answer span{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2c2c2c;
}

.netreviews_tpl_v2 .netreviews_answer_title {
    font-family: Nunito-Bold, Nunito, Arial, Helvetica, sans-serif;
}

.netreviews_website_answer.hide{
    display: none;
}

.netreviews_button_comment{
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
    display: none;
    cursor: pointer;
}

.netreviews_button_comment.show{
    display: block;
}

.netreviews_hide_comment.hide{
    display: none;
}

.netreviews_button_comment div {
    display: inline-block;
    padding-right: 5px
}

 .netreviews_button_comment.active {
     display:block;
}
 .netreviews_button_comment:hover {
     text-decoration: none;
     color: rgb(47, 47, 47);
}

/*Helpful*/
.netreviews_tpl_v2 .netreviews_helpful_block, .netreviews_tpl_v2 p.netreviews_helpfulmsg {
    padding: 0;
    margin: 7px auto 0;
    color: #868788;
    font-size: 12px;
    font-family: Nunito, Arial, Helvetica, sans-serif ;
}

.netreviews_tpl_v2 p.netreviews_helpfulmsg {
    line-height: 16px;
    text-align: left;
    display: none
}

.netreviews_tpl_v2 .netreviews_helpful_block {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.netreviews_tpl_v2 .netreviews_helpful_block a, .netreviews_tpl_v2 .netreviews_helpful_block a span {
    display: inline-block;
    line-height: 22px;
    height: 22px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    transition: background-color, color .2s;
}

.netreviews_tpl_v2 .netreviews_helpful_block a {
    background: #dedede;
    padding: 0 0 0 5px;
    margin: 0 0 0 5px;
    color: #4e4e4e;
    border-radius: 5px;
}

.netreviews_tpl_v2 .netreviews_helpful_block a span {
    background: #adadad;
    padding: 0 5px;
    margin: 0 0 0 3px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.netreviews_tpl_v2 .netreviews_helpful_block .active {
    background-color: #656565;
    color: white;
}

.netreviews_tpl_v2 .netreviews_helpful_block .active span {
    background-color: #656565;
    padding-left: 5px;
}

/*-MEDIA MODAL-*/
 #netreviews_media_modal {
     display: none;
     position: fixed;
     z-index: 990;
     padding: 0px;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     overflow: hidden;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.9);
}
 #netreviews_media_content {
     display: block;
     position: fixed;
     z-index: 991;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
}
 #netreviews_media_content img {
     position: absolute;
     border-radius: 2px;
}
 #netreviews_media_content iframe {
     position: absolute;
     border: none;
}
 #netreviews_media_close {
     z-index: 992;
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: opacity 0.2s;
     opacity: 1;
     cursor: pointer;
     display: block;
     text-decoration: none;
}
 #netreviews_media_close:hover, #netreviews_media_close:focus {
     text-decoration: none;
     opacity: 0.8;
}
 .carousel-prev, .carousel-next {
     z-index: 999;
     top: 50%;
     position: absolute;
     background: transparent;
     display: block;
     color: white !important;
     font-size: 75px;
     height: 75px;
     line-height: 75px;
}
 .carousel-prev:hover, .carousel-next:hover {
     cursor: pointer;
     opacity: 0.8;
}
 #netreviews_media_modal > a.carousel-prev {
     left: 5%;
}
 #netreviews_media_modal > a.carousel-next {
     right: 5%;
}
#netreviews_media_modal > a.carousel-prev, #netreviews_media_modal > a.carousel-next{
    text-decoration: none;
}

.loader-image {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     border: 5px solid #f3f3f3;
     border-radius: 50%;
     border-top: 5px solid #555;
     width: 50px;
     height: 50px;
     -webkit-animation: spin 2s linear infinite;
    /* Safari */
     animation: spin 2s linear infinite;
}

/*-BUTTON MORE REVIEWS-*/
.netreviews_tpl_v2 #netreviews_button_more_reviews {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center
}

.netreviews_tpl_v2 #netreviews_button_more_reviews .netreviews_button {
    margin: 0 auto;
    color: #20201e;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    cursor: pointer;
    float: left
}

/*---NR ICONS---*/

.nr-icon {
    font-family: 'nr-icons';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.nr-exit:before {
    content: "\e901"
}

.nr-icon.nr-exit{
    float: right;
}

.nr-info:before {
    content: "\e902"
}

.nr-star:before {
    content: "\e903"
}

.nr-comment:before {
    content: "\e900"
}

.netreviewsVote.active:hover:before {
    font-family: "nr-icons";
    content: "\e904";
}

.netreviewsVote.active:before {
    font-family: "nr-icons";
    font-size: 9px;
    padding: 0 5px 0 0;
    content: "\e905";
}

/*---RESPONSIVE---*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width:1200px) {
    .netreviews_tpl_v2 .netreviews_helpful_block {
        float: left;
        display: block;
        margin-top: 10px
    }
    .netreviews_tpl_v2 div.netreviews_customer_name {
        display: block
    }
}

@media screen and (max-width:1100px) {
    .netreviews_tpl_v2 div.netreviews_customer_name span {
        line-height: 2;
    }
    .netreviews_tpl_v2 .netreviews_helpful_block {
        font-size: 11px;
        line-height: 2;
    }
}

@media screen and (max-width:792px) {
    .netreviews_tpl_v2 #netreviews_informations {
        width: 372px
    }
}

@media screen and (max-width:670px) {
    .netreviews_tpl_v2 .netreviews_global_rating {
        min-height: auto;
    }

    .netreviews_tpl_v2 .netreviews_global_rating_responsive {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .netreviews_tpl_v2 .netreviews_note_generale_recommendations {
        width: 45% ;
    }

    .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:first-child{
        font-size:45px ;
    }
    .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(2){
        font-size:20px ;
    }
    .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(3){
        font-size:25px ;
    }

    .netreviews_tpl_v2 .netreviews_resume_rates {
        width: 45% ;
        margin-top: 0;
    }

    .netreviews_tpl_v2 .netreviews_afnor {
        margin-top: 0;
    }

    .netreviews_tpl_v2 .netreviews_all_reviews{
        margin-bottom: 25px;
    }

    .netreviews_tpl_v2 .netreviews_left_column {
        width: 100%;
        display: block 
    }

    .netreviews_tpl_v2 .netreviews_right_column {
        width: 100%;
        display: block 
    }

    .netreviews_tpl_v2 .netreviews_filtering_section select {
        font-size: 14px;
        width: auto;
        height: auto;
        line-height: 15px;
        text-align: left;
        display: inline;
        outline: 0;
        cursor: pointer;
        color: #96a0aa ;
        margin-bottom: 10px;
    }

    .netreviews_tpl_v2 .netreviews_rating_content {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .netreviews_tpl_v2 .netreviews_rating_header div {
        text-align: center
    }

    .netreviews_tpl_v2 .netreviews_rating_content, .netreviews_tpl_v2 .netreviews_rating_header {
        height: auto ;
        min-height: auto 
    }

    .netreviews_tpl_v2 .netreviews_logo {
        display: block ;
        margin: 5px auto ;
        top: 0 
    }

    .netreviews_tpl_v2 .netreviews_certification {
        top: 0 ;
        text-align: center ;
        margin: 20px auto 0 ;
        display: block ;
        width: 100% ;
        padding: 0 ;
        z-index: 10
    }

    .netreviews_tpl_v2 .netreviews_rating_header div {
        text-align: center
    }

    .netreviews_tpl_v2 .netreviews_rating_header div label {
        top: -20px;
        left: 0
    }

    .netreviews_tpl_v2 .netreviews_rating_header div span {
        width: 90% ;
        right: 5% ;
        top: 120px 
    }

    .netreviews_tpl_v2 .netreviews_button {
        text-align: center;
        float: none ;
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
        vertical-align: middle
    }

    .netreviews_tpl_v2 #netreviews_informations {
        width: calc(100% - 70px) 
    }

    .netreviews_tpl_v2 .netreviews_website_answer {
        width: 90%;
    }
}

@media screen and (max-width:360px) {
    .netreviews_tpl_v2 .netreviews_logo img{
        width: 80%;
    }
    .netreviews_tpl_v2 .netreviews_note_generale_table{
        width: unset ;
        line-height: 30px ;
        border-spacing: 0 ;
        margin-bottom: 5px;
    }
    .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:first-child{
        font-size:30px ;
    }
    .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(2){
        font-size:10px ;
        padding-right: 5px ;
        padding-left: 5px ;
    }
    .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(3){
        font-size:15px ;
    }
    .netreviews_tpl_v2 p.netreviews_subtitle{
        margin: auto;
        font-size: 11px;
    }
    .netreviews_tpl_v2 .netreviews_global_rating{
        padding: 10px 25px;
    }
    .netreviews_tpl_v2 .netreviews_global_rating_responsive {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    .netreviews_tpl_v2 .netreviews_stats_stars_big div{
        font-size: 11px;
    }
    .netreviews_tpl_v2 .netreviews_note_generale_recommendations{
        width: 100% ;
    }
    .netreviews_tpl_v2 .netreviews_note_generale_recommendations_responsive{
        display: flex;
        align-items: center;
    }
    .netreviews_tpl_v2 .netreviews_note_generale_recommendations_responsive .netreviews_note_generale{
        width: 50%;
        text-align: left;
        display: flex;
        justify-content: flex-end;
    }
    .netreviews_tpl_v2 table.netreviews_note_generale_table{
        border-spacing: 0;
        line-height: 40px;
    }
    .netreviews_tpl_v2 .netreviews_note_generale_recommendations_responsive p.netreviews_subtitle{
        width: 50%;
        text-align: center;
    }
    .netreviews_tpl_v2 .netreviews_note_generale_recommendations_responsive .far{
        margin-left: 4px;
    }
    .netreviews_tpl_v2 .netreviews_resume_rates{
        width: 100% ;
    }
    .netreviews_tpl_v2 .netreviews_stats_stars_big{
        margin-top: 10px;
    }
    .netreviews_tpl_v2 .netreviews_afnor{
        font-size: 11px;
    }
    .netreviews_tpl_v2 .netreviews_certification{
        margin: 10px auto 0 ;
    }
    .netreviews_tpl_v2 .netreviews_filtering_section label, .netreviews_tpl_v2 .netreviews_filtering_section select{
        font-size: 13px ;
    }
    .netreviews_tpl_v2 .netreviews_helpful_block {
        line-height: 2
    }
    .netreviews_tpl_v2 .netreviews_customer_review{
        line-height: 16px;
        font-size: 13px;
        text-align: justify;
    }
}


   .nrResponsive .netreviews_tpl_v2 .netreviews_global_rating {
        min-height: auto;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_global_rating_responsive {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_note_generale_recommendations {
        width: 45% ;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:first-child{
        font-size:45px ;
    }
   .nrResponsive .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(2){
        font-size:20px ;
    }
   .nrResponsive .netreviews_tpl_v2 .netreviews_note_generale tr.netreviews_note_generale_table_tr td.netreviews_note_generale_table_td:nth-child(3){
        font-size:25px ;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_resume_rates {
        width: 45% ;
        margin-top: 0;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_afnor {
        margin-top: 0;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_all_reviews{
        margin-bottom: 25px;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_left_column {
        width: 100%;
        display: block 
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_right_column {
        width: 100%;
        display: block 
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_filtering_section select {
        font-size: 14px;
        width: auto;
        height: auto;
        line-height: 15px;
        text-align: left;
        display: inline;
        outline: 0;
        cursor: pointer;
        color: #96a0aa ;
        margin-bottom: 10px;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_rating_content {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_rating_header div {
        text-align: center
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_rating_content,.nrResponsive .netreviews_tpl_v2 .netreviews_rating_header {
        height: auto ;
        min-height: auto 
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_logo {
        display: block ;
        margin: 5px auto ;
        top: 0 
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_certification {
        top: 0 ;
        text-align: center ;
        margin: 20px auto 0 ;
        display: block ;
        width: 100% ;
        padding: 0 ;
        z-index: 10
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_rating_header div {
        text-align: center
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_rating_header div label {
        top: -20px;
        left: 0
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_rating_header div span {
        width: 90% ;
        right: 5% ;
        top: 120px 
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_button {
        text-align: center;
        float: none ;
        padding-bottom: 20px;
        vertical-align: middle
    }

   .nrResponsive .netreviews_tpl_v2 #netreviews_informations {
        width: calc(100% - 70px) 
    }

   .nrResponsive .netreviews_tpl_v2 .netreviews_website_answer {
        width: 90%;
    }

.av_product_award {
     font-family: "Nunito", Arial, Helvetica, sans-serif;
     height: 72px;
     background: #f0f0f0;
     border: 1px solid #b6b6b6;
     border-radius: 15px;
     position: relative;
     margin: 10px 0;
     width: 220px;
     clear: both 
}
 .av_product_award .netreviews_stars{
     margin: auto;
}
 .av_product_award img#sceau {
     position: absolute;
     right: -12px;
     top: -10px;
     width: 90px 
}

.av_product_award {
     font-family: "Nunito", Arial, Helvetica, sans-serif;
     height: 72px;
     background: #f0f0f0;
     border: 1px solid #b6b6b6;
     border-radius: 15px;
     position: relative;
     margin: 10px 0;
     width: 220px;
     clear: both 
}
 .av_product_award .netreviews_stars{
     margin: auto;
}
 .av_product_award img#sceau {
     position: absolute;
     right: -12px;
     top: -10px;
     width: 90px 
}
 .av_product_award #bottom {
     background: #f7ad26;
     background: -moz-linear-gradient(top, #f7ad26 1%, #f49112 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f7ad26), color-stop(100%, #f49112));
     background: -webkit-linear-gradient(top, #f7ad26 1%, #f49112 100%);
     background: -o-linear-gradient(top, #f7ad26 1%, #f49112 100%);
     background: -ms-linear-gradient(top, #f7ad26 1%, #f49112 100%);
     background: linear-gradient(to bottom, #f7ad26 1%, #ffc400 100%);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7ad26', endColorstr='#f49112', GradientType=0);
     height: 24px;
     border-bottom-right-radius: inherit;
     border-bottom-left-radius: inherit;
     position: absolute;
     width: 90%;
     padding-top: 3px;
}
 .av_product_award #bottom a {
     color: #000;
     text-align: center;
     font-weight: 400;
     display: block;
     margin-right: 47px;
}
 .av_product_award #top .netreviews_font_stars div{
     font-size: 18px;
     line-height: 18px;
}
 .av_product_award #top .netreviews_font_stars{
     display: block;
     margin: auto;
     width: 85px;
}
 .av_product_award #top .ratingText{
     text-align: center;
     font-size: 14px;
     font-weight: bold;
     color: #3c3d3c;
}
 .av_product_award #top {
     width: 68%;
     display: grid;
     height: 46px;
     vertical-align: middle;
     padding-top: 5px;
}

.av_product_award .netreviews_image_stars{
     text-align: center;
}

 .netreviews_stars_light {
     height: 20px;
     border: none;
     position: relative;
     margin: 5px 0px 5px 0px;
     background: 0 0;
     width: 100%;
}
 .netreviews_stars_light #top {
     text-align: left;
     width: 100% 
}
 .netreviews_stars_light #slide {
     left: 85px;
     position: absolute;
     bottom: 1px;
     line-height: 20px;
}
 .netreviews_stars_light a:hover {
    text-decoration: none;
}
 .netreviews_stars_light .netreviews_stars {
    display:inline-block;
}

 .netreviews_bg_stars_big {
     display: block;
     width:120px;
     height:24px;
     padding:0px;
     border:none;
     text-decoration: none;
     outline:none;
     margin:0px auto;
}
 .netreviews_bg_stars_big span, .netreviews_review_rate_and_stars span, .netreviews_bg_stars span {
     overflow: hidden;
     display: inline;
     line-height: auto !important;
     margin: unset !important;
}
 .netreviews_bg_stars_big div {
     position: absolute;
     font-size: 24px;
     line-height: 24px;
}
 .netreviews_bg_stars_big div .nr-star:before{
     font-size: 24px;
}
 .netreviews_font_stars div .nr-star:before{
     font-size: 16px;
}
 .netreviews_font_stars div {
     position: absolute;
     font-size: 16px;
     line-height: 16px;
}
 .netreviews_font_stars{
     display:block !important;
}
.netreviewsProductWidgetNew {
     font-family: "Nunito", Arial, Helvetica, sans-serif;
     display: block;
     height: 75px;
     margin: 0;
     padding: 5px;
     background-color: transparent;
     position: relative;
     clear: both;
}
 .netreviewsProductWidgetNewLogo {
     position: absolute;
     top: 0;
     left: 0;
     width: 65px;
     height: 65px;
     border: none;
     outline: 0 
}
 .netreviewsProductWidgetNew .ProductWidgetNewRatingWrapper {
     margin-left: 60px;
     display: block;
     width: 200px;
     line-height: 16px;
     text-align: left;
     padding: 0 5px;
}
 .netreviewsProductWidgetNewRate, .netreviewsProductWidgetNewRate span {
     color: #363842;
     font-size: 13px;
     font-weight: bold;
     padding: 0;
     margin: 0;
}

/*---IMAGE STARS---*/
.netreviews_stars {
     display: inline-block;
     padding: 0px;
     border: none;
     background-repeat: repeat-x;
     background-position: left center;
     text-decoration: none;
     outline: none;
}
 .netreviews_stars span {
     display: block;
     margin: 0;
     padding: 0;
     border: none;
     background-repeat: repeat-x;
     background-position: left center;
     text-decoration: none;
     outline: none;
     line-height: 1px;
     font-size: .1px;
}
 .netreviews_stars_sm{
     width: 60px;
     float: left;
}
 .netreviews_stars_md {
     width: 80px;
}
 .netreviews_stars_bg {
     display: block;
     width: 120px;
     margin: 0px auto;
     background-image: url(../img/star-empty-24.png);
}
 .netreviews_stars_md, .netreviews_stars_sm{
     background-image: url(../img/star-empty-16.png);
}
 .netreviews_stars_md span, .netreviews_stars_sm span {
     background-image: url(../img/star-gold-16.png);
}
 .netreviews_stars_bg span{
     background-image: url(../img/star-gold-24.png);
}
 .netreviews_stars_sm ,.netreviews_stars_sm span {
     height: 25px;
     background-size: 12px auto;
}
 .netreviews_stars_md ,.netreviews_stars_md span {
     height: 16px;
     background-size: 16px auto;
}
 .netreviews_stars_bg ,.netreviews_stars_bg span {
     height: 24px;
     background-size: 24px auto;
}

.av_category_stars {
    display: flex;
    justify-content: center;
    text-align: left !important;
    width: 180px;
    margin: 10px auto;
    height: 20px;
}

.av_category_stars .ratingText {
    display: inline-block;
    line-height: 20px;
    vertical-align: super;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    float: left;
}

 .av_category_stars a {
     text-decoration: none;
}

 .av_category_stars .netreviews_review_rate_and_stars {
    float: left;
    display: inline-block;
    line-height: 20px;
    width: 95px;
}

.sortbynote {
    display: none;
}